<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="ISO-8859-1">
    <title>Yearly Expenditure</title>
    <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="header">
    <a class="headLink" href="user_home">Home</a>
    <a class="headLink" href="expense_add">Add New Expense</a>
    <a class="headLink" href="balance_add">Add Money</a>
    <a class="headLink" href="balance_view">View Balance</a>
    <a class="headLink" href="expense_view">View Expense</a>
    <a class="headLink" href="analysis">Analysis</a>
    <a class="headLink login" href="logout">Log Out</a>
</div>

<div style="text-align: center;">
    <h2>Yearly Expenditure Analysis</h2>
</div>

<div>
    <figure class="highcharts-figure">
        <div id="container-bar"></div>
    </figure>
    <script type="text/javascript">
        $(document).ready(
            function () {
                $.ajax({
                    url: "/analysis_year/data",
                    success: function (result) {
                        let years = [];
                        let money_spent = [];
                        console.log(result);
                        Object.keys(result).forEach(
                            function (key) {
                                years.push(key);
                                money_spent.push(result[key]);
                            });
                        drawChart(years, money_spent);
                    }
                });
            });

        function drawChart(years, money_spent) {
            Highcharts.chart('container-bar', {
                chart: {
                    type: 'column',
                    styledMode: true
                },
                title: {
                    text: 'Year wise expenses'
                },
                xAxis: [{
                    title: {
                        text: 'Years'
                    },
                    categories: years
                }],
                yAxis: [{
                    className: 'highcharts-color-0',
                    title: {
                        text: 'Money spent'
                    }
                }],
                series: [{
                    data: money_spent
                }]
            });
        }
    </script>
</div>
</body>
</html>
