<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>AddMoney</title>
</head>
<body>

<div class="header">
    <a class="headLink" href="user_home">Home</a>
    <a class="headLink" href="expense_add">Add New Expense</a>
    <a class="headLink">Add Money</a>
    <a class="headLink" href="balance_view">View Balance</a>
    <a class="headLink" href="expense_view">View Expense</a>
    <a class="headLink" href="analysis">Analysis</a>
    <a class="headLink login" href="logout">Log Out</a>
</div>

<div>
    <h2>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <span th:text="${message}"></span>
    </h2>
</div>

<!--/*@thymesVar id="balance" type="com.externship.expensetracker.model.Balance"*/-->
<form class="form-horizontal" action="#" th:action="@{/balance_add}" th:object="${balance}" method="post">
    <div style="text-align: center;"><h2>Add Money to your wallet</h2></div>
    <div class="form-group" style="display:flex">
        <label class="control-label">Enter amount to add in your balance </label>
        <input class="form-control" th:field="*{amount}" type="number" name="amount"/>
    </div>
    <div class="row">

        <div style="text-align: center;">
            <input class="btn btn-primary" type="reset" value="Clear"/>
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </div>
    </div>
</form>

</body>
</html>
